.App {
  text-align: center;
  display: grid;
  padding: 10px;
  background-color: black;
  grid-template-columns: auto auto auto;
  width: 500px;
  height: 500px;
  grid-gap: 10px;
}

.griditem {
  outline: none;
  font-family: "Courier New";
  font-weight: bold;
  font-size: 120px;
  border: 4px solid rgba(0, 0, 0, 0.8);
}

body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  text-decoration: underline;
}

.modal {
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  padding: 400px;
}

.paper {
  display: inline-block;
  width: 400px;
  background-color: rgb(128, 128, 128);
  border: 2px solid #000;
  box-shadow: 2px 2px black ;
  padding:3px;
}

#controlButtons {
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: center;
  justify-items: space-between;
  padding: 5px;
}

.b {
  background: transparent;
  width: 150px;
  border: 6px solid black;
  font-size: 16px;
  font-weight: bold;
  margin: 3px;
}

.b:active {
  background-color: lightgray;
}

